<!DOCTYPE html>
<html>
<head>
  <title>AppCodelearn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Just Did it</a>
  </div>
</div>

<% if !flash[:error].nil? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert" >×</button>
      <strong><%= flash[:error] %></strong>
    </div>
<% end %>

<% if flash[:success] %>
    <div class="alert alert-success">
      #show flash[:success] message here
    </div>
<% end %>

<%= yield %>

</body>
</html>
